
/*****************/
/* Global Styles */
/*****************/

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #ebebeb;
}


/**************/
/* Typography */
/**************/

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFO5CnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmkC3kaWzU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #ff5c35;
}

h2 {
    text-align: left;
/*    text-indent: 5%;*/
    font-size: 30px;
    font-weight: 400;
    color: #ebebeb;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    color: #8c8c8c;
}


/**********/
/* Layout */
/**********/

section {
    margin-bottom: 100px;
}

a {
    color: #2d91c9;
}

.header-nav {
    position: sticky;
    top: 0;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
}

#about p {
    width: fit-content;
    border: 2px solid #ff5c35;
    border-radius: 8px;
    padding: 20px;
}

#experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.job {
    width: auto;
    border: 2px solid #ff5c35;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column-job-title {
    text-align: left;
}

.column-job-dates {
    text-align: right;
}

.row-job-desc {
    text-align: justify;
    justify-content: flex-start;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


#skills li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 150px;

    border: 2px solid #ff5c35;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

#connect {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
